.about{

    height: 100vh;
    display: flex;
    align-items: center;
   
}

.about-left{

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}    

.about-right{

    flex:1;

}

.about-collage{
    background-color: #78C8E2;
    height: 600px;
    width: 600px;

    position: absolute;
    top:0;
    left: 0;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);


}

.img2-cover{

    width: 60%;
    height: 30vh;

    overflow: hidden;
}

.about-img{

    height: 600px;
    width: 600px;

    position: absolute;

    top: 2;
    left: 2;

    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}


.about-title{
    
    font-weight: 400;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}
.about-desc{

    font-size: 25px;
    font-weight: 300;
}

.about-links{
    font-family: 'Permanent Marker', cursive;
    
}

.about-info{
    font-family: "Permanent marker", cursive;
    font-size: 20px;

    align-items: center;

    padding: 5px;
    margin: 10px;

    display: inline;
    flex-wrap: wrap;

}

.about-img4,
.about-img3,
.about-img2{

    height: 100px;
    width: 100px;

    
    margin: 5px;
    display: flex;
    align-items: center;

    clip-path: circle(50% at 50% 50%);
  

}