


.intro{
    display: flex;
    height: 80vh;

    background-color: gray;

}

.intro-left{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

}


.intro-right{
    flex: 1;
     position: relative;

}

.intro-left-first{
    padding: 50px;
    height: 50%;
  
    flex-direction: column;
    justify-content: space-between;
    
}


.intro-line{
    font-size: 30px;
    font-weight: 300;
}

.intro-name{
    font-size: 60px;

    font-family: 'Permanent Marker', cursive;
}

.intro-title{
    height: 50px;
    overflow: hidden;

}

.intro-title-position{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #78C8E2;
    display: flex;
    align-items: center;

    font-family: 'Permanent Marker', cursive;

}

.intro-description{
    font-size: 20px;

    margin: 20px 0px;
}

.intro-list{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{transform: translateY(-40px)}
    50%{transform: translateY(-80px)}
    75%{transform: translateY(-120px)}
   
    
}

.intro-img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);

    position: absolute;

    /* margin: 100px 20px; */


}

.img-cover{
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #78C8E2;
    height: 600px;
    width: 600px;

    margin: -0px 5px;

    position: absolute;
    top:0;
    right: 0;
}